<h1>Speak to your Coach</h1>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="query" name="query" placeholder="What do you want to say?">
  <input type="submit" value="Go on!">
</form>
